.grid-row {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  
}

.grid-item {
  height: 15px;
  width: 15px;
}

.center {
  margin: auto;
  border: 3px solid #73AD21;
  padding: 0px;
  width: 100%;
}

canvas {

}