<!-- Toolbar -->
<p-toolbar>
    <div class="ui-toolbar-group-left">
            <span id="logo"> SOM Visualizer </span> 
    </div>
    
    <!-- Right buttons -->
    <div class="ui-toolbar-group-right">
        <button pButton type="button" (click)="onClickNewButton($event)" label="New" icon="pi pi-plus"></button>
        <button pButton type="button" label="Open" icon="pi pi-folder-open"></button>
        <button pButton type="button" label="Save" icon="pi pi-save"></button>
        <span> </span>&nbsp; &nbsp;

        <p-spinner size="4" [(ngModel)]="iterations" [min]="0" [max]="1000"></p-spinner>

        <!-- Train buttons -->
        <button pButton type="button" label="Train" icon="pi pi-refresh" class="ui-button-rounded ui-button-success"></button>
        <button pButton type="button" label="Stop" icon="pi pi-circle-on" class="ui-button-rounded ui-button-danger"></button>
    </div>
</p-toolbar>

<!-- Sessions -->
<p-tabView>
    <p-tabPanel *ngFor="let item of sessions; let i = index" [header]="item.header" [selected]="i == 0" [closable]="true">
        <!-- Content -->
        <div class="p-grid">
            <!-- Parameters -->
            <div class="p-col-4">
                <app-params></app-params>
            </div>
            <!-- Results -->
            <div class="p-col-8">
                <p-tabView>
                        <!-- Dataset tab -->
                        <p-tabPanel header="Dataset" leftIcon="pi pi-th-large">
                            <app-dataset></app-dataset>
                        </p-tabPanel>
                        <!-- Results tab -->
                        <p-tabPanel header="Results" leftIcon="pi pi-chart-bar">
                            Content 2
                        </p-tabPanel>
                    </p-tabView>
            </div>
        </div>








        {{item.content}}
    </p-tabPanel>
</p-tabView>
