p-toolbar {
  margin: 0;
}

span#logo {
  font-weight: 400;
  font-size: 18px;
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
}

button {
  margin-left: 5px;
}

p-splitButton {
  margin-left: 5px;
}

ui-tabview-nav {
  font-size: 50px;
}
