<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-toolbar>
    <span>SOM Visualizer</span>
</mat-toolbar> -->

<mat-drawer-container id="main-container">
  <!-- Sidebar -->
  <mat-drawer id="drawer-sidebar" mode="side" opened>
    <h2 align="center">SOM Visualizer</h2>
    <app-configurations></app-configurations>
    <button mat-raised-button color="primary" (click)="som.train()">Start training</button>
  </mat-drawer>

  <!-- Content -->
  <mat-drawer-content id="drawer-content">
    <mat-tab-group>
      <!-- Plot tab -->
      <mat-tab label="Plot">

          <mat-grid-list cols="5" rowHeight="300px">
              <mat-grid-tile colspan="4" rowspan="3">
                  <app-plot></app-plot> 
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                  <app-weight-matrix></app-weight-matrix>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                  <app-umatrix></app-umatrix>
              </mat-grid-tile>

          </mat-grid-list>






        <!-- <app-plot></app-plot> -->
      </mat-tab>
      <!-- U-Matric tab -->
      <mat-tab label="U-Matrix">
        <app-umatrix></app-umatrix>
      </mat-tab>
      <!-- Weight matrix -->
      <mat-tab label="Weight Matrix">
        <app-weight-matrix></app-weight-matrix>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>



