#upload-button {
  display: inline-block;
}

#upload-button input[type=file] {
  display:none;
}

#dataset-table {
  margin-top: 1px;
}

.label {
  margin-top: 5px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}